.sidebar {
    width: 220px;
    background-color: #28a745; /* Verde admin */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .sidebar a:hover {
    color: #d4f5d2;
  }
  